fastapi
pydantic
uvicorn
langchain
langchain-ollama
langchain-chroma
langchain-community
langchain-core
langchain_text_splitters
unstructured
fastembed
pdfplumber
chromadb
fitz
pymupdf
python-multipart
aiofiles